<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jihangyu.glowworm.book.dao.BookMapper" >
  <resultMap id="BaseResultMap" type="cn.jihangyu.glowworm.book.entity.Book" >
    <id column="b_id" property="bId" jdbcType="INTEGER" />
    <result column="b_name" property="bName" jdbcType="VARCHAR" />
    <result column="b_author" property="bAuthor" jdbcType="VARCHAR" />
    <result column="b_publisher" property="bPublisher" jdbcType="VARCHAR" />
    <result column="b_price" property="bPrice" jdbcType="VARCHAR" />
    <result column="b_isbn" property="bIsbn" jdbcType="VARCHAR" />
    <result column="b_barcode" property="bBarcode" jdbcType="VARCHAR" />
    <result column="b_owner_id" property="bOwnerId" jdbcType="VARCHAR" />
    <result column="b_user_id" property="bUserId" jdbcType="VARCHAR" />
    <result column="b_status" property="bStatus" jdbcType="VARCHAR" />
    <result column="b_type" property="bType" jdbcType="VARCHAR" />
    <result column="b_img" property="bImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    b_id, b_name, b_author, b_publisher, b_price, b_isbn, b_barcode, b_owner_id, b_user_id, 
    b_status, b_type, b_img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from book
    where b_id = #{bId,jdbcType=INTEGER}
  </select>

  <select id="selectAllHadByUid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from book
    where b_owner_id = #{bOwnerId,jdbcType=VARCHAR}
  </select>

  <select id="selectAllUsedByUid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from book
    where b_user_id = #{bUserId,jdbcType=VARCHAR}
  </select>

  <select id="selectByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from book
    where b_type = #{bType,jdbcType=VARCHAR}
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from book
    where b_name = #{bName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book
    where b_id = #{bId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jihangyu.glowworm.book.entity.Book" >
    insert into book (b_id, b_name, b_author, 
      b_publisher, b_price, b_isbn, 
      b_barcode, b_owner_id, b_user_id, 
      b_status, b_type, b_img
      )
    values (#{bId,jdbcType=INTEGER}, #{bName,jdbcType=VARCHAR}, #{bAuthor,jdbcType=VARCHAR}, 
      #{bPublisher,jdbcType=VARCHAR}, #{bPrice,jdbcType=VARCHAR}, #{bIsbn,jdbcType=VARCHAR}, 
      #{bBarcode,jdbcType=VARCHAR}, #{bOwnerId,jdbcType=VARCHAR}, #{bUserId,jdbcType=VARCHAR}, 
      #{bStatus,jdbcType=VARCHAR}, #{bType,jdbcType=VARCHAR}, #{bImg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.jihangyu.glowworm.book.entity.Book" >
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bId != null" >
        b_id,
      </if>
      <if test="bName != null" >
        b_name,
      </if>
      <if test="bAuthor != null" >
        b_author,
      </if>
      <if test="bPublisher != null" >
        b_publisher,
      </if>
      <if test="bPrice != null" >
        b_price,
      </if>
      <if test="bIsbn != null" >
        b_isbn,
      </if>
      <if test="bBarcode != null" >
        b_barcode,
      </if>
      <if test="bOwnerId != null" >
        b_owner_id,
      </if>
      <if test="bUserId != null" >
        b_user_id,
      </if>
      <if test="bStatus != null" >
        b_status,
      </if>
      <if test="bType != null" >
        b_type,
      </if>
      <if test="bImg != null" >
        b_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bId != null" >
        #{bId,jdbcType=INTEGER},
      </if>
      <if test="bName != null" >
        #{bName,jdbcType=VARCHAR},
      </if>
      <if test="bAuthor != null" >
        #{bAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bPublisher != null" >
        #{bPublisher,jdbcType=VARCHAR},
      </if>
      <if test="bPrice != null" >
        #{bPrice,jdbcType=VARCHAR},
      </if>
      <if test="bIsbn != null" >
        #{bIsbn,jdbcType=VARCHAR},
      </if>
      <if test="bBarcode != null" >
        #{bBarcode,jdbcType=VARCHAR},
      </if>
      <if test="bOwnerId != null" >
        #{bOwnerId,jdbcType=VARCHAR},
      </if>
      <if test="bUserId != null" >
        #{bUserId,jdbcType=VARCHAR},
      </if>
      <if test="bStatus != null" >
        #{bStatus,jdbcType=VARCHAR},
      </if>
      <if test="bType != null" >
        #{bType,jdbcType=VARCHAR},
      </if>
      <if test="bImg != null" >
        #{bImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jihangyu.glowworm.book.entity.Book" >
    update book
    <set >
      <if test="bName != null" >
        b_name = #{bName,jdbcType=VARCHAR},
      </if>
      <if test="bAuthor != null" >
        b_author = #{bAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bPublisher != null" >
        b_publisher = #{bPublisher,jdbcType=VARCHAR},
      </if>
      <if test="bPrice != null" >
        b_price = #{bPrice,jdbcType=VARCHAR},
      </if>
      <if test="bIsbn != null" >
        b_isbn = #{bIsbn,jdbcType=VARCHAR},
      </if>
      <if test="bBarcode != null" >
        b_barcode = #{bBarcode,jdbcType=VARCHAR},
      </if>
      <if test="bOwnerId != null" >
        b_owner_id = #{bOwnerId,jdbcType=VARCHAR},
      </if>
      <if test="bUserId != null" >
        b_user_id = #{bUserId,jdbcType=VARCHAR},
      </if>
      <if test="bStatus != null" >
        b_status = #{bStatus,jdbcType=VARCHAR},
      </if>
      <if test="bType != null" >
        b_type = #{bType,jdbcType=VARCHAR},
      </if>
      <if test="bImg != null" >
        b_img = #{bImg,jdbcType=VARCHAR},
      </if>
    </set>
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jihangyu.glowworm.book.entity.Book" >
    update book
    set b_name = #{bName,jdbcType=VARCHAR},
      b_author = #{bAuthor,jdbcType=VARCHAR},
      b_publisher = #{bPublisher,jdbcType=VARCHAR},
      b_price = #{bPrice,jdbcType=VARCHAR},
      b_isbn = #{bIsbn,jdbcType=VARCHAR},
      b_barcode = #{bBarcode,jdbcType=VARCHAR},
      b_owner_id = #{bOwnerId,jdbcType=VARCHAR},
      b_user_id = #{bUserId,jdbcType=VARCHAR},
      b_status = #{bStatus,jdbcType=VARCHAR},
      b_type = #{bType,jdbcType=VARCHAR},
      b_img = #{bImg,jdbcType=VARCHAR}
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
</mapper>