<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jihangyu.glowworm.userRemarkActivity.dao.UserRemarkActivityMapper" >
  <resultMap id="BaseResultMap" type="cn.jihangyu.glowworm.userRemarkActivity.entity.UserRemarkActivity" >
    <id column="ura_id" property="uraId" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="VARCHAR" />
    <result column="a_id" property="aId" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ura_id, u_id, a_id, comment, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_remark_activity
    where ura_id = #{uraId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_remark_activity
    where ura_id = #{uraId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jihangyu.glowworm.userRemarkActivity.entity.UserRemarkActivity" >
    insert into user_remark_activity (ura_id, u_id, a_id, 
      comment, create_time)
    values (#{uraId,jdbcType=INTEGER}, #{uId,jdbcType=VARCHAR}, #{aId,jdbcType=INTEGER}, 
      #{comment,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.jihangyu.glowworm.userRemarkActivity.entity.UserRemarkActivity" >
    insert into user_remark_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uraId != null" >
        ura_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="aId != null" >
        a_id,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uraId != null" >
        #{uraId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=VARCHAR},
      </if>
      <if test="aId != null" >
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jihangyu.glowworm.userRemarkActivity.entity.UserRemarkActivity" >
    update user_remark_activity
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=VARCHAR},
      </if>
      <if test="aId != null" >
        a_id = #{aId,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ura_id = #{uraId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jihangyu.glowworm.userRemarkActivity.entity.UserRemarkActivity" >
    update user_remark_activity
    set u_id = #{uId,jdbcType=VARCHAR},
      a_id = #{aId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where ura_id = #{uraId,jdbcType=INTEGER}
  </update>
</mapper>