<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jihangyu.glowworm.user.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.jihangyu.glowworm.user.entity.User" >
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_nickname" property="uNickname" jdbcType="CHAR" />
    <result column="u_province" property="uProvince" jdbcType="CHAR" />
    <result column="u_city" property="uCity" jdbcType="CHAR" />
    <result column="u_gender" property="uGender" jdbcType="CHAR" />
    <result column="u_email" property="uEmail" jdbcType="CHAR" />
    <result column="appointment_b_id" property="appointmentBId" jdbcType="INTEGER" />
    <result column="u_phone" property="uPhone" jdbcType="CHAR" />
    <result column="u_self_introduction" property="uSelfIntroduction" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    u_id, u_nickname, u_province, u_city, u_gender, u_email, appointment_b_id, u_phone, 
    u_self_introduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jihangyu.glowworm.user.entity.User" useGeneratedKeys="true" keyProperty="uId">
    insert into user (u_id, u_nickname, u_province, 
      u_city, u_gender, u_email, appointment_b_id, 
      u_phone, u_self_introduction)
    values (#{uId,jdbcType=INTEGER}, #{uNickname,jdbcType=CHAR}, #{uProvince,jdbcType=CHAR}, 
      #{uCity,jdbcType=CHAR}, #{uGender,jdbcType=CHAR}, #{uEmail,jdbcType=CHAR}, #{appointmentBId,jdbcType=INTEGER}, 
      #{uPhone,jdbcType=CHAR}, #{uSelfIntroduction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.jihangyu.glowworm.user.entity.User" useGeneratedKeys="true" keyProperty="uId">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="uNickname != null" >
        u_nickname,
      </if>
      <if test="uProvince != null" >
        u_province,
      </if>
      <if test="uCity != null" >
        u_city,
      </if>
      <if test="uGender != null" >
        u_gender,
      </if>
      <if test="uEmail != null" >
        u_email,
      </if>
      <if test="appointmentBId != null" >
        appointment_b_id,
      </if>
      <if test="uPhone != null" >
        u_phone,
      </if>
      <if test="uSelfIntroduction != null" >
        u_self_introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uNickname != null" >
        #{uNickname,jdbcType=CHAR},
      </if>
      <if test="uProvince != null" >
        #{uProvince,jdbcType=CHAR},
      </if>
      <if test="uCity != null" >
        #{uCity,jdbcType=CHAR},
      </if>
      <if test="uGender != null" >
        #{uGender,jdbcType=CHAR},
      </if>
      <if test="uEmail != null" >
        #{uEmail,jdbcType=CHAR},
      </if>
      <if test="appointmentBId != null" >
        #{appointmentBId,jdbcType=INTEGER},
      </if>
      <if test="uPhone != null" >
        #{uPhone,jdbcType=CHAR},
      </if>
      <if test="uSelfIntroduction != null" >
        #{uSelfIntroduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jihangyu.glowworm.user.entity.User" >
    update user
    <set >
      <if test="uNickname != null" >
        u_nickname = #{uNickname,jdbcType=CHAR},
      </if>
      <if test="uProvince != null" >
        u_province = #{uProvince,jdbcType=CHAR},
      </if>
      <if test="uCity != null" >
        u_city = #{uCity,jdbcType=CHAR},
      </if>
      <if test="uGender != null" >
        u_gender = #{uGender,jdbcType=CHAR},
      </if>
      <if test="uEmail != null" >
        u_email = #{uEmail,jdbcType=CHAR},
      </if>
      <if test="appointmentBId != null" >
        appointment_b_id = #{appointmentBId,jdbcType=INTEGER},
      </if>
      <if test="uPhone != null" >
        u_phone = #{uPhone,jdbcType=CHAR},
      </if>
      <if test="uSelfIntroduction != null" >
        u_self_introduction = #{uSelfIntroduction,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jihangyu.glowworm.user.entity.User" >
    update user
    set u_nickname = #{uNickname,jdbcType=CHAR},
      u_province = #{uProvince,jdbcType=CHAR},
      u_city = #{uCity,jdbcType=CHAR},
      u_gender = #{uGender,jdbcType=CHAR},
      u_email = #{uEmail,jdbcType=CHAR},
      appointment_b_id = #{appointmentBId,jdbcType=INTEGER},
      u_phone = #{uPhone,jdbcType=CHAR},
      u_self_introduction = #{uSelfIntroduction,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
</mapper>